@page
@model InLab_Project.Pages.Index1Model
@{
}

<!-- banner bg main start -->
<div class="banner_bg_main">
    <!-- logo section start -->
    <div class="logo_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="logo"><a href="index.html"><img src="images/logo.png"></a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- logo section end -->
    <!-- header section start -->
    <div class="header_section">
        <div class="container">
            <div class="containt_main">
@*                 <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Major
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">CIE</a>
                        <a class="dropdown-item" href="#">BMS</a>
                        <a class="dropdown-item" href="#">PHY</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Batch
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">2023</a>
                        <a class="dropdown-item" href="#">2022</a>
                        <a class="dropdown-item" href="#">2021</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Students
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">student1</a>
                        <a class="dropdown-item" href="#">student2</a>
                        <a class="dropdown-item" href="#">student3</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Advisor
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">advisor1</a>
                        <a class="dropdown-item" href="#">advisor2</a>
                        <a class="dropdown-item" href="#">advisor3</a>
                    </div>
                </div> *@
                <div class="main">
                    <!-- Another variation with a button -->
                    <div class="input-group">
                        <form method="post">
                            <input type="text" asp-for="@Model.USER2.name" class="form-control" placeholder="username">
                            <span asp-validation-for=@Model.USER2.name></span>

                            <input type="password" class="form-control" asp-for="@Model.USER2.password" placeholder="password">
                            <input type="submit" class="form-control" name="login" />
                        </form>

@*                         <div class="input-group-append">
                            <button class="btn btn-secondary" type="button" style="background-color: #f26522; border-color:#f26522 ">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        
 *@                     </div>


                </div>
                <div class="header_box">
@*                     <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
                        Filter
                    </button>
                    <div class="login_menu">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <span class="padding_10">LogIn</span>
                                </a>
                            </li>
                        </ul>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
    <!-- header section end -->
    <!-- banner section start -->
    <div class="banner_section layout_padding">
        <div class="container">
            <div class="col-sm-12">
                <h1 class="banner_taital">Get Start <br>Projects of ZewailCity for Science and Technology</h1>
            </div>
        </div>
    </div>
    <!-- banner section end -->
</div>
<!-- banner bg main end -->